<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route all requests to the front controller unless the file exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
